<input type="text" value="{{ value }}" name="{{ args.id }}" id="{{ args.id }}" class="regular-text {{ args.option.class }}">

{% if option.description %}
    <p class="description">{{ option.description }}</p>
{% endif %}