{% if title %}
    {{ before_title|raw }}{{ title|raw }}{{ after_title|raw }}
{% endif %}

<div class="property-filter widget">
    <div class="content">
    {% if map_filtering %}

    <form method="get" action="{{ wp.get_template_directory_uri() }}/aviators/plugins/properties/filter.php" class="map-filtering">
    {% else %}
        <form method="get" action="{{ wp.aviators_get_home_url() }}/{{ wp.__('properties', 'aviators') }}/" class="form-inline">
    {% endif %}

            {% if wp.aviators_settings_get_value('properties', 'filter_visibility', 'hide_location') != 'on' %}
                <div class="location control-group">
                    <label class="control-label" for="inputLocation">
                        {{ wp.__('Location', 'aviators') }}
                    </label>

                    <div class="controls">
                        <select name="filter_location" id="inputLocation">
                            <option value="">-</option>
                            {% for location in wp.get_terms('locations', {'parent': 0}) %}
                                <option value="{{ location.term_id }}" {% if q.filter_location == location.term_id %}selected="selected"{% endif %}>{{ location.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <!-- /.controls -->
                </div><!-- /.control-group -->
            {% endif %}

            {% if wp.aviators_settings_get_value('properties', 'filter_visibility', 'hide_sublocation') != 'on' %}
                <div class="location_sub control-group">
                    <label class="control-label" for="filter_location">
                        {{ wp.__('Sublocation', 'aviators') }}
                    </label>

                    <div class="controls">
                        {% if q.filter_location %}
                            {% set sublocations = wp.get_terms('locations', {'parent': q.filter_location}) %}
                        {% endif %}

                        <select name="filter_sublocation" id="filter_sublocation">
                            <option value="">-</option>
                            {% if(sublocations) %}
                                {% for location in sublocations %}
                                    <option value="{{ location.term_id }}" {% if q.filter_sublocation == location.term_id %}selected="selected"{% endif %}>{{ location.name }}</option>
                                {% endfor %}
                            {% endif  %}
                        </select>
                    </div>
                    <!-- /.controls -->
                </div><!-- /.control-group -->
            {% endif %}

            {% if wp.aviators_settings_get_value('properties', 'filter_visibility', 'hide_sub_sublocation') != 'on' %}
                <div class="location_sub_sub control-group">
                    <label class="control-label" for="filter_sub_sublocation">
                        {{ wp.__('District', 'aviators') }}
                    </label>

                    <div class="controls">
                        {% if q.filter_location %}
                            {% set sublocations = wp.get_terms('locations', {'parent': q.filter_sublocation}) %}
                        {% endif %}

                        <select name="filter_sub_sublocation" id="filter_sub_sublocation">
                            <option value="">-</option>
                            {% if(sublocations) %}
                                {% for location in sublocations %}
                                    <option value="{{ location.term_id }}" {% if q.filter_sub_sublocation == location.term_id %}selected="selected"{% endif %}>{{ location.name }}</option>
                                {% endfor %}
                            {% endif  %}
                        </select>
                    </div>
                    <!-- /.controls -->
                </div><!-- /.control-group -->
            {% endif %}

            {% if wp.aviators_settings_get_value('properties', 'filter_visibility', 'hide_type') != 'on' %}
                <div class="type control-group">
                    <label class="control-label" for="inputType-{{ id }}">
                        {{ wp.__('Type', 'aviators') }}
                    </label>

                    <div class="controls">
                        <select name="filter_type" id="inputType-{{ id }}">
                            <option value="">-</option>
                            {% for type in wp.get_terms('property_types') %}
                                <option value="{{ type.term_id }}" {% if q.filter_type == type.term_id %}selected="selected"{% endif %}>{{ type.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <!-- /.controls -->
                </div>
                <!-- /.control-group -->
            {% endif %}

            {% if wp.aviators_settings_get_value('properties', 'filter_visibility', 'hide_contract') != 'on' %}
                <div class="contract control-group">
                    <label class="control-label" for="inputType-{{ id }}">
                        {{ wp.__('Contract', 'aviators') }}
                    </label>

                    <div class="controls">
                        <select name="filter_contract_type" id="inputContract-{{ id }}">
                            <option value="">-</option>
                            {% for contract in wp.get_terms('property_contracts') %}
                                <option value="{{ contract.term_id }}" {% if q.filter_contract_type == contract.term_id %}selected="selected"{% endif %}>{{ contract.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <!-- /.controls -->
                </div>
                <!-- /.control-group -->
            {% endif %}

            {% if wp.aviators_settings_get_value('properties', 'filter_visibility', 'hide_beds') != 'on' %}
                <div class="beds control-group">
                    <label class="control-label" for="inputBeds-{{ id }}">
                        {{ wp.__('Beds', 'aviators') }}
                    </label>

                    <div class="controls">
                        <select name="filter_bedrooms" id="inputBeds-{{ id }}">
                            <option value="">-</option>
                            {% for i in range(1, 10) %}
                                <option value="{{ i }}" {% if q.filter_bedrooms == i %}selected="selected="{% endif %}>{{ i }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <!-- /.controls -->
                </div>
                <!-- /.control-group -->
            {% endif %}

            {% if wp.aviators_settings_get_value('properties', 'filter_visibility', 'hide_baths') != 'on' %}
            <div class="baths control-group">
                <label class="control-label" for="inputBaths-{{ id }}">
                    {{ wp.__('Baths', 'aviators') }}
                </label>

                <div class="controls">
                    <select name="filter_bathrooms" id="inputBaths-{{ id }}">
                        <option value="">-</option>
                        {% for i in range(1, 10) %}
                            <option value="{{ i }}" {% if q.filter_bathrooms == i %}selected="selected="{% endif %}>{{ i }}</option>
                        {% endfor %}
                    </select>
                </div>
                <!-- /.controls -->
            </div>
            <!-- /.control-group -->
            {% endif %}



            {% if wp.aviators_settings_get_value('properties', 'filter_visibility', 'hide_price_from') != 'on' %}
                <div class="price-from control-group">
                    <label class="control-label" for="inputPriceFrom-{{ id }}">
                        {{ wp.__('Price From', 'aviators') }}
                    </label>

                    <div class="controls">
                        <select name="filter_price_from" id="inputPriceFrom-{{ id }}">
                            <option value="">-</option>
                            {% for i in price_from %}
                                <option value="{{ i }}" {% if q.filter_price_from == i %}selected="selected"{% endif %}>{{ wp.aviators_price_format(i) }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <!-- /.controls -->
                </div>
                <!-- /.control-group -->
            {% endif %}

            {% if wp.aviators_settings_get_value('properties', 'filter_visibility', 'hide_price_to') != 'on' %}
                <div class="price-to control-group">
                    <label class="control-label" for="inputPriceTo-{{ id }}">
                        {{ wp.__('Price To', 'aviators') }}
                    </label>

                    <div class="controls">
                        <select name="filter_price_to" id="inputPriceTo-{{ id }}">
                            <option value="">-</option>
                            {% for i in price_to %}
                                <option value="{{ i }}" {% if q.filter_price_to == i %}selected="selected"{% endif %}>{{ wp.aviators_price_format(i) }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <!-- /.controls -->
                </div>
                <!-- /.control-group -->
            {% endif %}

            {% if wp.aviators_settings_get_value('properties', 'filter_visibility', 'hide_area_from') != 'on' %}
                <div class="area-from control-group">
                    <label class="control-label" for="inputAreaFrom-{{ id }}">
                        {{ wp.__('Area From', 'aviators') }}
                    </label>

                    <div class="controls">
                        <input type="text" value="{{q.filter_area_from }}" name="filter_area_from" id="inputAreaFrom-{{ id }}">
                    </div><!-- /.controls -->
                </div><!-- /.control-group -->
            {% endif %}

            {% if wp.aviators_settings_get_value('properties', 'filter_visibility', 'hide_area_to') != 'on' %}
                <div class="area-to control-group">
                    <label class="control-label" for="inputAreaTo-{{ id }}">
                        {{ wp.__('Area To', 'aviators') }}
                    </label>

                    <div class="controls">
                        <input type="text" value="{{q.filter_area_to }}" name="filter_area_to" id="inputAreaTo-{{ id }}">
                    </div><!-- /.controls -->
                </div><!-- /.control-group -->
            {% endif %}

            {% if wp.aviators_settings_get_value('properties', 'filter_visibility', 'hide_property_id') != 'on' %}
                <div class="control-group">
                    <label class="control-label" for="inputPropertyId-{{ id }}">
                        {{ wp.__('Property ID', 'aviators') }}
                    </label>

                    <div class="controls">
                        <input type="text" value="{{q.filter_property_id }}" name="filter_property_id" id="inputPropertyId-{{ id }}">
                    </div><!-- /.controls -->
                </div><!-- /.control-group -->
            {% endif %}

            <div class="form-actions">
                <button class="btn btn-primary btn-large">{{ wp.__('Filter now!', 'aviators') }}</button>
            </div>
            <!-- /.form-actions -->
        </form>
    </div>
    <!-- /.content -->
</div><!-- /.property-filter -->
