{% if title %}
    {{ before_title|raw }}{{ title|raw }}{{ after_title|raw }}
{% endif %}

<div class="property-filter widget filter-horizontal">
    <div class="content">
        {% if map_filtering %}
        <form method="get" action="{{ wp.get_template_directory_uri() }}/aviators/plugins/properties/filter.php" class="form-inline map-filtering">
            {% else %}
            <form method="get" action="{{ wp.aviators_get_home_url() }}/{{ wp.__('properties', 'aviators') }}/" class="form-inline">
                {% endif %}

                {% if wp.aviators_settings_get_value('properties', 'filter_visibility_h', 'hide_type') != 'on' %}
                    <div class="property-types">
                        {% for type in wp.get_terms('property_types') %}
                            <div class="property-type {{ type.slug }} {% for filter_type in q.filter_type %}{% if filter_type == type.term_id %}active{% endif %}{% endfor %}">
                                <label for="filter_type_{{ type.term_id }}">
                                    <input type="checkbox" name="filter_type[]" title="{{ type.name }}" id="filter_type_{{ type.term_id }}" class="no-ezmark" value="{{ type.term_id }}" {% for filter_type in q.filter_type %}{% if filter_type == type.term_id %}checked{% endif %}{% endfor %}> {{ type.name }}
                                </label>
                            </div>
                        {% endfor %}
                    </div>
                    <!-- /.property-types -->
                {% endif %}
                <div class="general">
                    {% if wp.aviators_settings_get_value('properties', 'filter_visibility_h', 'hide_location') != 'on' %}
                        <select name="filter_location" id="inputLocation" class="location">
                            <option value="">{{ wp.__('Location', 'aviators') }}</option>
                            {% for location in wp.get_terms('locations', { parent: 0}) %}
                                <option value="{{ location.term_id }}" {% if q.filter_location == location.term_id %}selected="selected"{% endif %}>{{ location.name }}</option>
                            {% endfor %}
                        </select>
                    {% endif %}

                    {% if wp.aviators_settings_get_value('properties', 'filter_visibility_h', 'hide_sublocation') != 'on' %}
                        {% if q.filter_location %}
                            {% set sublocations = wp.get_terms('locations', {'parent': q.filter_location}) %}
                        {% endif %}

                        <select name="filter_sublocation" id="filter_sublocation" class="location">
                            <option value="">{{ wp.__('Sublocation', 'aviators') }}</option>
                            {% if(sublocations) %}
                                {% for location in sublocations %}
                                    <option value="{{ location.term_id }}" {% if q.filter_sublocation == location.term_id %}selected="selected"{% endif %}>{{ location.name }}</option>
                                {% endfor %}
                            {% endif  %}
                        </select>
                    {% endif %}

                    {% if wp.aviators_settings_get_value('properties', 'filter_visibility_h', 'hide_sub_sublocation') != 'on' %}
                        {% if q.filter_location %}
                            {% set sublocations = wp.get_terms('locations', {'parent': q.filter_sublocation}) %}
                        {% endif %}
                        <select name="filter_sub_sublocation" id="filter_sub_sublocation" class="location">
                            <option value="">{{ wp.__('District', 'aviators') }}</option>
                            {% if(sublocations) %}
                                {% for location in sublocations %}
                                    <option value="{{ location.term_id }}" {% if q.filter_sub_sublocation == location.term_id %}selected="selected"{% endif %}>{{ location.name }}</option>
                                {% endfor %}
                            {% endif  %}
                        </select>
                    {% endif %}

                    {% if wp.aviators_settings_get_value('properties', 'filter_visibility_h', 'hide_contract') != 'on' %}
                        <select name="filter_contract_type" id="inputContractType" class="contract-type">
                            <option value="">{{ wp.__('Contract', 'aviators') }}</option>
                            {% for contract in wp.get_terms('property_contracts') %}
                                <option value="{{ contract.term_id }}" {% if q.filter_contract_type == contract.term_id %}selected="selected"{% endif %}>{{ contract.name }}</option>
                            {% endfor %}
                        </select>
                    {% endif %}

                    {% if wp.aviators_settings_get_value('properties', 'filter_visibility_h', 'hide_beds') != 'on' %}
                        <select name="filter_bedrooms" id="inputBeds-{{ id }}" class="beds">
                            <option value="">{{ wp.__('Beds', 'aviators') }}</option>
                            {% for i in range(1, 10) %}
                                <option value="{{ i }}" {% if q.filter_bedrooms == i %}selected="selected="{% endif %}>{{ i }}</option>
                            {% endfor %}
                        </select>
                    {% endif %}

                    {% if wp.aviators_settings_get_value('properties', 'filter_visibility_h', 'hide_baths') != 'on' %}
                        <select name="filter_bathrooms" id="inputBaths-{{ id }}" class="baths">
                            <option value="">{{ wp.__('Baths', 'aviators') }}</option>
                            {% for i in range(1, 10) %}
                                <option value="{{ i }}" {% if q.filter_bathrooms == i %}selected="selected="{% endif %}>{{ i }}</option>
                            {% endfor %}
                        </select>
                    {% endif %}

                    {% if wp.aviators_settings_get_value('properties', 'filter_visibility_h', 'hide_price_from') != 'on' %}
                        <select name="filter_price_from" id="inputPriceFrom-{{ id }}" class="price-from">
                            <option value="">{{ wp.__('Price From', 'aviators') }}</option>
                            {% for i in price_from %}
                                <option value="{{ i }}" {% if q.filter_price_from == i %}selected="selected"{% endif %}>{{ wp.aviators_price_format(i) }}</option>
                            {% endfor %}
                        </select>
                    {% endif %}

                    {% if wp.aviators_settings_get_value('properties', 'filter_visibility_h', 'hide_price_to') != 'on' %}
                        <select name="filter_price_to" id="inputPriceTo-{{ id }}" class="price-to">
                            <option value="">{{ wp.__('Price To', 'aviators') }}</option>
                            {% for i in price_to %}
                                <option value="{{ i }}" {% if q.filter_price_to == i %}selected="selected"{% endif %}>{{ wp.aviators_price_format(i) }}</option>
                            {% endfor %}
                        </select>
                    {% endif %}

                    {% if wp.aviators_settings_get_value('properties', 'filter_visibility_h', 'hide_area_from') != 'on' %}
                        <input type="text" value="{{q.filter_area_from }}" name="filter_area_from" id="inputAreaFrom-{{ id }}" placeholder="{{ wp.__('Area from', 'aviators') }}">
                    {% endif %}

                    {% if wp.aviators_settings_get_value('properties', 'filter_visibility_h', 'hide_area_to') != 'on' %}
                        <input type="text" value="{{q.filter_area_to }}" name="filter_area_to" id="inputAreaTo-{{ id }}" placeholder="{{ wp.__('Area to', 'aviators') }}">
                    {% endif %}

                    <button class="btn btn-primary btn-large">{{ wp.__('Filter now!', 'aviators') }}</button>
                </div><!-- /.general -->
            </form>
    </div>
    <!-- /.content -->
</div><!-- /.property-filter -->