{{ before_widget|raw }}

{% if title %}
    {{ before_title|raw }}{{ title|raw }}{{ after_title|raw }}
{% endif %}

<div class="content">
    {% if properties %}
        {% for property in properties %}
            {% include "properties/property-sidebar.twig" %}
        {% endfor %}
    {% else %}
        <p>
            {{ wp.__('No featured properties found.', 'aviators') }}
        </p>
    {% endif %}
</div><!-- /.content -->

{{ after_widget|raw }}